@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.embla {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  --slide-height:  15.75rem;
  --slide-width: 244px;
  --slide-spacing: 1.5rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  height: 400px;
  width: 1300px;
  gap: 20px;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-width);
  padding-left: var(--slide-spacing);
  border-radius: 25px;
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;
}



.embla__button {
  background-color: #FFFFFF1A;
  border: 0;
  height: 120px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  color: var(--text-body);
}

.embla__button--prev {
  left: -4rem;
}

.embla__button--next {
  right: -4rem;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 50%;
  height: 50%;
}

/* Default styles for the accordion */
.Accordion-item {
  background-color: #2d2d2d;
  transition: 0.3s;
  padding: 16px; /* Optional: Adjust padding for the text */
}



/* Hover effect: slightly brighter background */
.Accordion-item:hover {
  background-color: #3e3e3e;  /* A slightly brighter shade */
}

/* Align the text to the left */
.Accordion-item .nextui-accordion-item-header {
  text-align: left;
  width: 100%;  /* Ensure the text spans the entire width of the header */
  display: flex;
  justify-content: flex-start;  /* Align the text to the left */
}



@layer utilities {
  .border-radius-gradient::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -0.25rem;
    border-radius: inherit;
    background: linear-gradient(
      to right,
      rgba(33, 13, 22, 1) 16%,
      rgba(184, 40, 105, 1),
      rgba(229, 9, 20, 1),
      rgba(184, 40, 105, 1),
      rgba(33, 13, 22, 1) 84%
    );
  }
  .custom-gradient {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -0.25rem;
    border-radius: inherit;
    background-color: red;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
  }

  .custom-linear-gradient {
    background-image: linear-gradient(
      7deg,
      rgba(0, 0, 0, 0.85) 10%,
      rgba(0, 0, 0, 0.8465) 17.25%,
      rgba(0, 0, 0, 0.8361) 24.5%,
      rgba(0, 0, 0, 0.8187) 31.75%,
      rgba(0, 0, 0, 0.7944) 39%,
      rgba(0, 0, 0, 0.7632) 46.25%,
      rgba(0, 0, 0, 0.725) 53.5%,
      rgba(0, 0, 0, 0.6868) 60.75%,
      rgba(0, 0, 0, 0.6556) 68%,
      rgba(0, 0, 0, 0.6312) 75.25%,
      rgba(0, 0, 0, 0.6139) 82.5%,
      rgba(0, 0, 0, 0.6035) 89.75%,
      rgba(0, 0, 0, 0.6) 97%
    );
  }
}